<footer>
    <div class="container">
        <div class="lojas-propz">
            <h4>
                Lojas Propz
            </h4>
            <ul>
                <li><a href="https://propz.com.br" target="_blank">Belo Horizonte</a></li>
                <li><a href="https://propz.com.br" target="_blank">Campinas</a></li>
                <li><a href="https://propz.com.br" target="_blank">São Paulo</a></li>
                <li><a href="https://propz.com.br" target="_blank">Rio de Janeiro</a></li>
            </ul>
        </div>
        <h3>
           <a href="https://propz.com.br/" target="_blank">
                 <img src="/assets/img/propz-logo-rodape.png" alt="logo Propz" />
           </a>
        </h3>
        <div class="footer-content">
            <p> 		
                Propz s.A Central de Atendimento - Consultas, Informações e 
                serviços transacionas: <a href="tel:45440097" target="_blank">4544-0097</a> ( capitais e regiões metropolitanas) e <a href="tel:08007785658" target="_blank">0800 778 5658</a> (demais localidades), atendimento de segunda a sábado, das 8h ás 22h, exceto feriados.SAC Propz - 
                Reclamações,cancelamentos e Informações gerais: <a href="tel:08009859365" target="_blank">0800 985 9365</a>. 
                Deficiência auditiva ou de fala: <a href="tel:08007220088" target="_blank">0800 722 0088</a> (atendimento 24 horas, 7 dias por semana).
                Ouvidoria - Demandas não solucionadas pelos demais Canais de Atendimento: <a href="tel:08007279599" target="_blank">0800 727 9599</a> (atendimento de segunda a sexta-feira, das 8h ás 18h,exceto feriados).
							
            </p>
        </div>
    </div>
</footer>
