section{
    .bg-home{
        background-image: url(/assets/img/backgrond-home.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-attachment: initial;
        background-size: cover;
        position: relative;
        z-index: 1;
        top: -20px;
        @media only screen and (max-width: 600px) {
            background-size: contain;
            top: 0;
        }
    }
    .space-content{      
        padding: 120px 0;      
        @media only screen and (max-width: 600px) {
            padding: 65px 0;      
        }      
        @media only screen and (max-width: 350px) {
            padding: 50px 0;      
        }
    }   
    article{
        h2{
            font-size: 18px;
            text-align: center;
            padding: 0px 190px;
            color: #444444;
            @media only screen and (max-width: 600px) {
                padding: 40px 20px;
                font-size: 16px;
                line-height: 1.4;
            }
           
            strong{
                display: inline-block;
                width: 100%;
            }
        }
    }
}