<div class="container bg-principal bg-carousel">
  <owl-carousel-o [options]="customOptions" class="carousel-products">
    <ng-container *ngFor="let slide of dynamicSlides">
      <ng-template carouselSlide [id]="slide.id">
        <div class="slide">
          <div class="item">
            <figure>
              <img [src]="slide.src" [alt]="slide.name" [title]="slide.name">
            </figure>
            <div class="product-body">
              <h5 class="product-title">
                <span class="name">
                  {{slide.name}}
                </span>
                <strong class="type">
                  {{slide.ml}}
                </strong>
              </h5>
              <div class="product-text">
                <div class="currency">
                  <div class="price">
                    10 x <sup>R$</sup> {{slide.currency}}
                    <small>sem juros <sup>1</sup></small>
                  </div>
                  <div class="payment-cards">
                      <span><img src="/assets/img/logo_visa.svg" alt="logo Visa" /></span>
                      <span><img src="/assets/img/logo-mastercard.svg" alt="logo Mastercard" /></span>
                  </div>
                </div>
                <div class="installment">
                  <div class="price">
                    15 x <sup>R$</sup>{{slide.installment}}
                    <small>com juros <sup>2</sup></small>
                  </div>
                  <div class="price-value">
                    ou R$ {{slide.price}} á vista
                  </div>
                </div>            
                <a
                  href="{{slide.link}}"
                  class="product-link" target="_blank">Good Girl Supreme De
                  Carolina Herrera Eau De Parfum Feminino</a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <!-- <ng-template carouselSlide>
      <div class="slide">
        <div class="item">
          <figure>
            <img
              src="https://img.drogaraia.com.br/catalog/product/p/r/prod_202305251802228296.jpg" />
          </figure>
          <div class="product-body">
            <h5 class="product-title">
              <span class="name">
                Ck One Summer Relax Calvin Klein Eau de Toilette Unissex                
              </span>
              <strong class="type">
                100 ML
              </strong>
            </h5>
            <div class="product-text">
              <div class="currency">
                <div class="price">
                  10 x <sup>R$</sup> 42,00
                  <small>sem juros <sup>1</sup></small>
                </div>
                <div class="payment-cards">
                  <span><img src="/assets/img/logo_visa.svg" alt="logo Visa" /></span>
                  <span><img src="/assets/img/logo-mastercard.svg" alt="logo Mastercard" /></span>
                </div>
              </div>
              <div class="installment">
                <div class="price">
                  15 x <sup>R$</sup>38,00
                  <small>com juros <sup>2</sup></small>
                </div>
                <div class="price-value">
                  ou R$ 420,00 á vista
                </div>
              </div>            
              <a
                href="https://www.drogaraia.com.br/ck-one-summer-relax-calvin-klein-eau-de-toilette-unisex-731455.html"
                class="product-link" target="_blank">Ck One Summer Relax Calvin Klein Eau de Toilette Unissex </a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <div class="item">
          <figure>
            <img
              src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:best/v1/imagens/product/20045960/f9336f71-86b3-433a-9fce-5e78514681c1-very-good-girl-glam-carolina-herrera-eau-de-parfum-perfume-feminino-80ml.png" />
          </figure>
          <div class="product-body">
            <h5 class="product-title">
              <span class="name">
                Very Good Girl Glam Carolina Herrera Eau de Parfum
              </span>
              <strong class="type">
                80 ML
              </strong>
            </h5>
            <div class="product-text">
              <div class="currency">
                <div class="price">
                  10 x <sup>R$</sup> 67,49
                  <small>sem juros <sup>1</sup></small>
                </div>
                <div class="payment-cards">
                    <span><img src="/assets/img/logo_visa.svg" alt="logo Visa" /></span>
                    <span><img src="/assets/img/logo-mastercard.svg" alt="logo Mastercard" /></span>
                </div>
              </div>
              <div class="installment">
                <div class="price">
                  15 x <sup>R$</sup>65,70
                  <small>com juros <sup>2</sup></small>
                </div>
                <div class="price-value">
                  ou R$ 674,90 á vista
                </div>
              </div>             
              <a
                href="https://www.belezanaweb.com.br/very-good-girl-glam-carolina-herrera-eau-de-parfum-perfume-feminino-80ml/"
                class="product-link" target="_blank">Very Good Girl Glam Carolina Herrera Eau de Parfum</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <div class="item">
          <figure>
            <img
              src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:best/v1/imagens/5/cute-la-rive-eau-de-parfum-perfume-feminino-100ml-49648-3781659261010427468.png" />
          </figure>
          <div class="product-body">
            <h5 class="product-title">
              <span class="name">
                Cuté La Rive Eau de Parfum
              </span>
              <strong class="type">
                100 ML
              </strong>
            </h5>
            <div class="product-text">
              <div class="currency">
                <div class="price">
                  10 x <sup>R$</sup> 8,90
                  <small>sem juros <sup>1</sup></small>
                </div>
                <div class="payment-cards">
                    <span><img src="/assets/img/logo_visa.svg" alt="logo Visa" /></span>
                    <span><img src="/assets/img/logo-mastercard.svg" alt="logo Mastercard" /></span>
                </div>
              </div>
              <div class="installment">
                <div class="price">
                  15 x <sup>R$</sup>15,50
                  <small>com juros <sup>2</sup></small>
                </div>
                <div class="price-value">
                  ou R$ 80,90 á vista
                </div>
              </div>             
              <a
                href="https://www.belezanaweb.com.br/cute-la-rive-eau-de-parfum-perfume-feminino-100ml/"
                class="product-link" target="_blank">Cuté La Rive Eau de Parfum</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <div class="item">
          <figure>
            <img
              src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:best/v1/imagens/5/7563-complementar-2-8645500446797314014.jpg" />
          </figure>
          <div class="product-body">
            <h5 class="product-title">
              <span class="name">
                CH Carolina Herrera Eau de Toilette
              </span>
              <strong class="type">
                100 ML
              </strong>
            </h5>
            <div class="product-text">
              <div class="currency">
                <div class="price">
                  10 x <sup>R$</sup> 61,09
                  <small>sem juros <sup>1</sup></small>
                </div>
                <div class="payment-cards">
                    <span><img src="/assets/img/logo_visa.svg" alt="logo Visa" /></span>
                    <span><img src="/assets/img/logo-mastercard.svg" alt="logo Mastercard" /></span>
                </div>
              </div>
              <div class="installment">
                <div class="price">
                  15 x <sup>R$</sup>58,99
                  <small>com juros <sup>2</sup></small>
                </div>
                <div class="price-value">
                  ou R$ 610,90 á vista
                </div>
              </div>            
              <a
                href="https://www.belezanaweb.com.br/ch-carolina-herrera-eau-de-toilette-perfume-feminino-100ml/"
                class="product-link" target="_blank">CH Carolina Herrera Eau de Toilette</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <div class="item">
          <figure>
            <img
              src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/product/79553/956fe2cc-532b-4a26-a4ba-61059056c82f-79553-calvin-klein-everyone-edt-200ml.png" />
          </figure>
          <div class="product-body">
            <h5 class="product-title">
              <span class="name">
                CK Everyone Calvin Klein Eau de Toilette
              </span>
              <strong class="type">
                200 ML
              </strong>
            </h5>
            <div class="product-text">
              <div class="currency">
                <div class="price">
                  10 x <sup>R$</sup> 48,99
                  <small>sem juros <sup>1</sup></small>
                </div>
                <div class="payment-cards">
                    <span><img src="/assets/img/logo_visa.svg" alt="logo Visa" /></span>
                    <span><img src="/assets/img/logo-mastercard.svg" alt="logo Mastercard" /></span>
                </div>
              </div>
              <div class="installment">
                <div class="price">
                  15 x <sup>R$</sup>59,90
                  <small>com juros <sup>2</sup></small>
                </div>
                <div class="price-value">
                  ou R$ 489,90 á vista
                </div>
              </div>             
              <a
                href="https://www.belezanaweb.com.br/ck-everyone-calvin-klein-eau-de-toilette-perfume-unissex-200ml/"
                class="product-link" target="_blank">CK Everyone Calvin Klein Eau de Toilette</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <div class="item">
          <figure>
            <img
              src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/product/52824/3fa4a4e4-9ff7-49ed-9045-99e7b39cf969-nectarina-da-andaluzia-phebo-eau-de-cologne-perfume-unissex-200ml.png" />
          </figure>
          <div class="product-body">
            <h5 class="product-title">
              <span class="name">
                Nectarina da Andaluzia Phebo Eau de Cologne
              </span>
              <strong class="type">
                200 ML
              </strong>
            </h5>
            <div class="product-text">
              <div class="currency">
                <div class="price">
                  10 x <sup>R$</sup> 6,90
                  <small>sem juros <sup>1</sup></small>
                </div>
                <div class="payment-cards">
                    <span><img src="/assets/img/logo_visa.svg" alt="logo Visa" /></span>
                    <span><img src="/assets/img/logo-mastercard.svg" alt="logo Mastercard" /></span>
                </div>
              </div>
              <div class="installment">
                <div class="price">
                  15 x <sup>R$</sup>8,99
                  <small>com juros <sup>2</sup></small>
                </div>
                <div class="price-value">
                  ou R$ 60,90 á vista
                </div>
              </div>            
              <a
                href="https://www.belezanaweb.com.br/nectarina-da-andaluzia-phebo-eau-de-cologne-perfume-unissex-200ml/"
                class="product-link" target="_blank">Nectarina da Andaluzia Phebo Eau de Cologne</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <div class="item">
          <figure>
            <img
              src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/product/62726/c880908f-aa6a-4e5d-9d20-ea57cd970f11-bahia-phebo-eau-de-parfum-perfume-unissex-100ml.png" />
          </figure>
          <div class="product-body">
            <h5 class="product-title">
              <span class="name">
                Bahia Phebo Eau de Parfum 
              </span>
              <strong class="type">
                100 ML
              </strong>
            </h5>
            <div class="product-text">
              <div class="currency">
                <div class="price">
                  10 x <sup>R$</sup> 20,39
                  <small>sem juros <sup>1</sup></small>
                </div>
                <div class="payment-cards">
                    <span><img src="/assets/img/logo_visa.svg" alt="logo Visa" /></span>
                    <span><img src="/assets/img/logo-mastercard.svg" alt="logo Mastercard" /></span>
                </div>
              </div>
              <div class="installment">
                <div class="price">
                  15 x <sup>R$</sup>22,99
                  <small>com juros <sup>2</sup></small>
                </div>
                <div class="price-value">
                  ou R$ 203,90 á vista
                </div>
              </div>           
              <a
                href="https://www.belezanaweb.com.br/bahia-phebo-eau-de-parfum-perfume-unissex-100ml/"
                class="product-link" target="_blank">Bahia Phebo Eau de Parfum </a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <div class="item">
          <figure>
            <img
              src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/product/39231/6f666f85-ed78-4ac6-a6e5-7230038d9314-english-pear-e-freesia-jo-malone-london-cologne-perfume-feminino-100ml.png" />
          </figure>
          <div class="product-body">
            <h5 class="product-title">
              <span class="name">
                English Pear & Freesia Jo Malone London Cologne
              </span>
              <strong class="type">
                80 ML
              </strong>
            </h5>
            <div class="product-text">
              <div class="currency">
                <div class="price">
                  10 x <sup>R$</sup> 110,50
                  <small>sem juros <sup>1</sup></small>
                </div>
                <div class="payment-cards">
                    <span><img src="/assets/img/logo_visa.svg" alt="logo Visa" /></span>
                    <span><img src="/assets/img/logo-mastercard.svg" alt="logo Mastercard" /></span>
                </div>
              </div>
              <div class="installment">
                <div class="price">
                  15 x <sup>R$</sup>99,99
                  <small>com juros <sup>2</sup></small>
                </div>
                <div class="price-value">
                  ou R$ 1.105,00 á vista
                </div>    
              </div>                     
              <a
                href="https://www.belezanaweb.com.br/english-pear-e-freesia-jo-malone-london-cologne-perfume-unissex-100ml/"
                class="product-link" target="_blank">English Pear & Freesia Jo Malone London Cologne </a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <div class="item">
          <figure>
            <img
              src="https://res.cloudinary.com/beleza-na-web/image/upload/w_1500,f_auto,fl_progressive,q_auto:eco,w_800/v1/imagens/products/B83773/aroma__0009_B83773_frasco.jpg" />
          </figure>
          <div class="product-body">
            <h5 class="product-title">
              <span class="name">
                Energia Pro Dia o Boticário
              </span>
              <strong class="type">
                80 ML
              </strong>
            </h5>
            <div class="product-text">
              <div class="currency">
                <div class="price">
                  10 x <sup>R$</sup> 6,90
                  <small>sem juros <sup>1</sup></small>
                </div>
                <div class="payment-cards">
                    <span><img src="/assets/img/logo_visa.svg" alt="logo Visa" /></span>
                    <span><img src="/assets/img/logo-mastercard.svg" alt="logo Mastercard" /></span>
                </div>
              </div>
              <div class="installment">
                <div class="price">
                  15 x <sup>R$</sup>8,99
                  <small>com juros <sup>2</sup></small>
                </div>
                <div class="price-value">
                  ou R$ 69,90 á vista
                </div>
              </div>           
              <a
                href="https://www.belezanaweb.com.br/energia-pro-dia-o-boticario-desodorante-colonia-unissex-75ml/"
                class="product-link" target="_blank">Energia Pro Dia o Boticário</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template> -->
  </owl-carousel-o>
</div>
