<div class="container bg-principal bg-carousel"> 
  <owl-carousel-o [options]="customOptions" class="carousel-products">    
    <ng-container *ngFor="let produto of produtos">
      <ng-template carouselSlide [id]="produto.id">
        <div class="slide">
          <div class="item">
            <figure>
              <img [src]="produto.src" [alt]="produto.name" [title]="produto.name">
            </figure>
            <div class="product-body">
              <h5 class="product-title">
                <span class="name">
                  {{produto.name}}
                </span>
                <strong class="type">
                  {{produto.ml}}
                </strong>
              </h5>
              <div class="product-text">
                <div class="currency">
                  <div class="price">
                    10 x <sup>R$</sup> {{produto.currency}}
                    <small>sem juros <sup>1</sup></small>
                  </div>
                  <div class="payment-cards">
                      <span><img src="/assets/img/logo_visa.svg" alt="logo Visa" /></span>
                      <span><img src="/assets/img/logo-mastercard.svg" alt="logo Mastercard" /></span>
                  </div>
                </div>
                <div class="installment">
                  <div class="price">
                    15 x <sup>R$</sup>{{produto.installment}}
                    <small>com juros <sup>2</sup></small>
                  </div>
                  <div class="price-value">
                    ou R$ {{produto.price}} á vista
                  </div>
                </div>            
                <a
                  href="{{produto.link}}"
                  class="product-link" target="_blank">Good Girl Supreme De
                  Carolina Herrera Eau De Parfum Feminino</a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>   
  </owl-carousel-o>     
</div> 

