@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';



*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

a{
    text-decoration: none;
}
.bg-principal{
    background-image: url(/assets/img/backgrond-home.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: initial;
    background-size: cover;
    position: relative;
    z-index: 1;
    top: -20px;
    @media only screen and (max-width: 600px) {
        background-size: contain;
        top: 0;
    }
}
.container{
    max-width: 800px;
    margin: 0 auto;
    @media only screen and (max-width: 768px) {
        max-width: 600px;  
    }
}

p{
    color: #5e5e5e;
}

ul{
    text-decoration: none;
    li{
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}


.owl-theme .owl-nav{
    .owl-prev,.owl-next{
        position: absolute;
        top: 50%;
        margin-top: -25px;
        background: transparent;       
        padding: 15px;
        width: auto;
        font-size: 0;
        &:hover{
            background-color: transparent;
        }
    }    
    .owl-prev{
        left: 10px;         
        &:before {
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-right-color: #f19a2c;
            content: "";
            left: -20px;
            position: relative;
          }
    }
    .owl-next{
        right: 10px;
        &:before {
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-left-color: #f19a2c;
            content: "";
            right: -20px;
            position: relative;
          }
    }
}